@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply h-full
}

body {
    @apply m-0 bg-zinc-700 text-zinc-100
}

.filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48 !important
}

.container {
    @apply transition-all px-4
}

.top-card::before {
    position: absolute;
    content: '';
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 16%);
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

li.menu-item,
li.toggle-filter {
    @apply border-2 cursor-pointer px-3 py-1.5 rounded-xl transition-all flex flex-row items-center hover:bg-red-600/40
}

nav {
    @apply bg-zinc-900/90 md:bg-transparent md:bg-none w-3/5 p-4 pt-16 md:pt-0 md:p-0 fixed md:relative flex flex-col md:flex-row mr-2 md:mr-12 h-screen md:h-auto top-0 transition-all md:top-auto md:left-auto md:w-auto z-10 md:z-auto
}